.gif-toogle{
    color: red;
}

.gif{
    width: 15%;
    display: none;
}

body {padding:30px;}

#target {
  background:#0099cc;
  width:300px;
  height:300px;
  height:160px;
  padding:5px;
  display:none;
}

.Hide
{
  display:none;
}
